body {
  background-image: linear-gradient(
      to bottom,
      rgba(79, 79, 82, 0.85),
      rgba(76, 76, 78, 0.85),
      rgba(72, 72, 75, 0.85),
      rgba(69, 69, 71, 0.85),
      rgba(65, 65, 67, 0.85),
      rgba(62, 62, 63, 0.85),
      rgba(58, 58, 60, 0.85),
      rgba(55, 55, 56, 0.85),
      rgba(51, 51, 52, 0.85),
      rgba(48, 48, 48, 0.85),
      rgba(44, 44, 45, 0.85),
      rgba(41, 41, 41, 0.85)
    ),
    url(../images/map.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh, cover;
}

.section-title {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 40px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.countries {
  margin-top: 50px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.input {
  border-radius: 15px;
  display: block;
  width: 400px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border-color: inherit;
  border-style: ridge;
  outline: none;
  //   text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.name-of-country {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.country {
  display: flex;
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#result-js {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  // padding-top: 10px;
  // padding-bottom: 20px;
}

.country__information {
  margin: 20px;
  padding-bottom: 20px;
}

.country__flag {
  width: 300px;
  height: auto;
  padding-bottom: 20px;
}
.country__flag__img {
  width: 100%;
  height: auto;
}

.flag-in-list {
  width: 20px;
  height: auto;
}

.clear {
  background-color: transparent;
  font-size: 30px;
  outline: none;
  border: none;
  position: absolute;
  top: 68px;
  right: 155px;
  cursor: pointer;
}

.country-list {
  padding: 20px;
  padding-left: 50px;
}

.country-item {
  display: list-item;
  margin-bottom: 20px;
  // cursor: pointer;
}
.countries-name {
  cursor: pointer;
}

.country-link {
  text-decoration: none;
  display: block;
  margin-left: 490px;
  padding-bottom: 20px;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.more-info {
  font-size: 20px;
}
