<ul class="country-list">
    <p class="more-info">Chosee one to see more information</p>
    {{#each this}}
    <li class="country-item"> 
        <img class="flag-in-list" src="{{flag}}" alt="flag of {{name}}"><span class="countries-name">         {{name}}</span> 
    </li>
    {{/each}}
</ul>