<ul class="country-list">
    {{#each this}}
    <li class="counrty-item"> <img class="flag-in-list" src="{{flag}}" alt="flag of {{name}}"> {{name}} <a class="country-link" href="https://en.wikipedia.org/wiki/{{name}}">(Go to Wikipedia)</a></li>
    {{/each}}
</ul>