<ul>
    {{#each this}}
    <li> <img class="flag-in-list" src="{{flag}}" alt="flag of {{name}}"> {{name}} <a class="country-link" href="https://en.wikipedia.org/wiki/{{name}}">(Go to vikipedia)</a></li>
    {{/each}}
</ul>